@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir.eot");
  src: url("/fonts/Vazir.eot?#iefix") format("embedded-opentype"), url("/fonts/Vazir.woff2") format("woff2"), url("/fonts/Vazir.woff") format("woff"), url("/fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Bold.eot");
  src: url("/fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Vazir-Bold.woff2") format("woff2"), url("/fonts/Vazir-Bold.woff") format("woff"), url("/fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Black.eot");
  src: url("/fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Vazir-Black.woff2") format("woff2"), url("/fonts/Vazir-Black.woff") format("woff"), url("/fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Medium.eot");
  src: url("/fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Vazir-Medium.woff2") format("woff2"), url("/fonts/Vazir-Medium.woff") format("woff"), url("/fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Light.eot");
  src: url("/fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Vazir-Light.woff2") format("woff2"), url("/fonts/Vazir-Light.woff") format("woff"), url("/fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url("/fonts/Vazir-Thin.eot");
  src: url("/fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Vazir-Thin.woff2") format("woff2"), url("/fonts/Vazir-Thin.woff") format("woff"), url("/fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: Vazir !important;
}

@font-face {
  font-family: Vazir_Farsi_Digit;
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot");
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot?#iefix") format("embedded-opentype"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2") format("woff2"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff") format("woff"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir_Farsi_Digit;
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot.eot");
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot.eot?#iefix") format("embedded-opentype"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2") format("woff2"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff") format("woff"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir_Farsi_Digit;
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.eot");
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.eot?#iefix") format("embedded-opentype"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.woff2") format("woff2"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.woff") format("woff"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Black-FD-WOL.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir_Farsi_Digit;
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot");
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot?#iefix") format("embedded-opentype"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2") format("woff2"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff") format("woff"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir_Farsi_Digit;
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light.eot");
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light.woff2") format("woff2"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light.woff") format("woff"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir_Farsi_Digit;
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin.eot");
  src: url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin.woff2") format("woff2"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin.woff") format("woff"), url("/fonts/Farsi-Digits-Without-Latin/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

.persian-number {
  font-family: Vazir_Farsi_Digit !important;
}

