/* material-ui persian style */

.persian-form .MuiInputLabel-formControl {
    left: unset !important;
    right: 0 !important;
}

.persian-form .MuiInputLabel-shrink {
    transform-origin: top right !important;
}

.persian-form .MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(-4px, -6px) scale(0.75) !important;
    padding-right: 10px !important;
}

.persian-form .MuiInputLabel-outlined {
    transform: translate(-14px, 20px) scale(1) !important;
}

form.persian-form input {
    direction: rtl !important;
}

.persian-form legend {
    text-align: right !important;
}
