.dashboard {
  flex-grow: 1;
}

.dashboard .dashboard-grid {
  direction: rtl;
}

.dashboard .dashboard-grid .card-btn {
  margin-bottom: 1rem;
  margin-left: 3px;
}

.button-icon {
  margin-right: -4px !important;
  margin-left: 8px !important;
}
