.center-item {
    text-align: center;
}

.hidden-input {
    display: none !important;
}

.center-item.persian-form {
    margin-top: 1rem;
}

.center-item.persian-form .max-width {
    min-width: 70%;
}

.save-btn-div {
    margin-top: 2rem;
}

.avatar-img {
    max-width: 100%;
}

.username input {
    text-align: right !important;
}
