.section-title {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
  text-align: right;
  direction: rtl;
}

.about-page p {
  direction: rtl;
  text-align: right;
  text-align: justify;
  font-size: larger;
}

.team-member-grid {
  direction: rtl;
}

.card-img {
  width: 100%;
}

.card-content {
  text-align: center !important;
}

.card-action {
  direction: ltr;
}
