.search-grid {
  flex-grow: 1;
  direction: rtl;
  background: #e8e8e8;
  padding: 2em;
  text-align: center;
  position: relative;
  margin: -2rem 2rem 0;
}

@media screen and (max-width: 700px) {
  .search-grid {
    margin-right: 0;
    margin-left: 0;
    padding: 10px;
  }
}
