.chapter-page .chapter-change {
  width: 100%;
}

.chapter-page .chapter-content-container {
  min-height: calc(100vh - 196px);
  padding-top: 2rem;
  padding-bottom: 1rem;
  direction: rtl;
}

.chapter-content-container .chapter-title {
  text-align: center;
  margin-bottom: 1rem;
}

.chapter-content-container .chapter-paragraph {
  line-height: 2;
  margin-bottom: 0.5rem;
  text-align: justify;
  text-indent: 3%;
}

.chapter-page .chapter-change.disabled {
  cursor: no-drop;
}
