.big-book-banner {
  background: lightgray;
  display: flex;
}

.big-book-banner > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  width: 50%;
}

.big-book-banner .book-img {
  width: 50%;
  margin: 1rem;
}

.big-book-banner .book-text p {
  margin-top: 1rem;
}

.big-book-banner .buy-book-btn {
  direction: ltr;
}

.book-abstract,
.book-chapters {
  direction: rtl;
  text-align: right;
  margin-top: 3rem;
}

.book-abstract p {
  margin-top: 1rem;
}

.book-chapters .chapter-header {
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .big-book-banner {
    display: block;
  }
  .big-book-banner > div {
    width: 100%;
  }
}
