.single-post-paper {
  padding: 2rem 3rem;
  margin-bottom: 2rem;
}

.single-post-paper {
  direction: rtl;
}

.single-post-paper p {
  margin-top: 1rem;
}

.single-post-paper .post-btn {
  margin-top: 1rem;
  direction: ltr;
}

.single-post-paper .post-img {
  width: 100%;
}

.post-first-row {
  display: flex;
}

.post-first-row .post-title {
  margin-top: 1rem;
  flex-grow: 1;
}

.post-first-row .post-time {
  direction: ltr;
  color: gray;
}
