.single-blog-page {
  margin: 0 1rem;
  padding: 2rem;
  direction: rtl;
}

.single-blog-page .article-intro {
  text-align: center !important;
}

.single-blog-page .article-img {
  min-width: 50%;
}

.single-blog-page .article-title,
.single-blog-page .article-author {
  margin-top: 1rem;
}

.single-blog-page .article-abstract,
.single-blog-page .article-body {
  margin-top: 2rem;
  text-align: justify;
}

.single-blog-page .article-post-time {
  color: gray;
}
