.book-thumb {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 2px #e6e6e6;
  margin: 2px;
  text-decoration: none;
  display: block;
  transition: all 500ms;
  position: relative;
}

.book-thumb:hover {
  box-shadow: 0 0 4px lightslategray;
  transition: all 500ms;
}

.book-thumb img,
.author-thumb img {
  width: 100%;
}

.book-thumb p,
.author-thumb p {
  direction: rtl;
  color: black;
}

.author-thumb {
  text-align: center;
  background-color: white;
}

.fab-btn {
  position: absolute !important;
  top: 5px !important;
  right: 3px !important;
}

.fab-btn .fab-extended-icon {
  margin-left: 3px;
}
