.post-thumb {
  text-align: center;
  background-color: white;
  box-shadow: 0 0 2px #e6e6e6;
  transition: all 500ms;
  text-decoration: none;
  display: block;
}

.post-thumb:hover {
  box-shadow: 0 0 4px lightslategray;
  transition: all 500ms;
}
