.menu-item {
  direction: rtl;
}

.menu-item-text {
  text-align: right;
}

.sub-menu {
  padding-right: 2rem !important;
}

.menu-item-icon {
  min-width: 35px !important;
}

.active-link {
  background: aliceblue !important;
}
