.section-title {
    margin-top: 2rem !important;
    margin-bottom: 1rem !important;
    text-align: right;
    direction: rtl;
}

.search-filtered-book {
    flex-grow: 1;
    direction: rtl;
    background: #e8e8e8;
    padding: 1em !important;
    margin-bottom: 1rem !important;
    text-align: center;
    position: relative;
}

.center-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-grid-item .search-input {
    width: 75%;
}

@media screen and (max-width: 700px) {
    .center-grid-item .search-input {
        width: 100%;
    }
}

.full-width {
    width: 100%;
}

.all-book-grid {
    direction: rtl !important;
}

.no-book {
    direction: rtl !important;
    text-align: center !important;
    flex: 1;
    margin: 1em;
}

.no-book h5 {
    margin-bottom: 2em;
}
