.single-blog-page {
  margin: 0 1rem;
  padding: 2rem;
  direction: rtl;
}

.single-blog-page .post-intro {
  text-align: center !important;
}

.single-blog-page .post-img {
  min-width: 50%;
}

.single-blog-page .post-title,
.single-blog-page .post-author {
  margin-top: 1rem;
}

.single-blog-page .post-abstract,
.single-blog-page .post-body {
  margin-top: 2rem;
  text-align: justify;
}

.single-blog-page .post-time {
  color: gray;
}
