body {
  margin: 0;
  font-family: Vazir, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* material-ui persian style */

.persian-form .MuiInputLabel-formControl {
  left: unset !important;
  right: 0 !important;
}

.persian-form .MuiInputLabel-shrink {
  transform-origin: top right !important;
}

.persian-form .MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(-4px, -6px) scale(0.75) !important;
}

.persian-form .MuiInputLabel-outlined {
  transform: translate(-14px, 20px) scale(1) !important;
}

form.persian-form input {
  direction: rtl !important;
}

.persian-form legend {
  text-align: right !important;
}
